img.izquierda {
    float: left;
  }
  
  img.derecha {
    float: right;
  }

  p.centrado {
    text-align: center;
  }

  img.center {
    float: center;
  }

  .container{
    display: flex;
    justify-content: center;
  }

  .imagen{
    width: 88px;
    margin: 0 20px;

    
  }

  body {
    background-color: #75e77e;
}

nav {
    float: left;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #izquierda {
    width: 10%;
    left: 200%;
    float: left;
    background-color: lightgray;
  }