

<div id="izquierda">

<nav>


    <ul>

        <div class="conteiner">

            <li><a routerLink ="/listarveh">        <img class="imagen"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRaGGc-C_9qJaNPkzaRVhAJAWZGNjf9_wcVw&usqp=CAU"  alt=""/>
            </a></li>
    
            <li><a routerLink ="/listar"> <img class="imagen" src="https://cdn-icons-png.flaticon.com/512/359/359858.png"  alt=""/>
            </a></li>

            <li><a routerLink ="/factura"> <img class="imagen" src="https://png.pngtree.com/png-vector/20191011/ourlarge/pngtree-invoice-icon-png-image_1817550.jpg"  alt=""/>
            </a></li>

            <li><a routerLink ="/listar"> <img class="imagen" src="https://png.pngtree.com/png-vector/20191001/ourmid/pngtree-check-list-icon-isolated-on-abstract-background-png-image_1776830.jpg"  alt=""/>
            </a></li>

        </div>

    </ul>


</nav>

</div>















    

