img.izquierda {
    float: left;
  }
  
  img.derecha {
    float: right;
  }

  p.centrado {
    text-align: center;
  }

  img.center {
    float: center;
  }

  .container{
    display: flex;
    justify-content: center;
  }

  .imagen{
    width: 88px;
    margin: 0 20px;

    
  }

  body {
    background-color: #75e77e;
}

nav {
    float: left;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #izquierda {
    width: 10%;
    left: 200%;
    float: left;
    background-color: lightgray;
  }

  .image-title {
    position: absolute;
    bottom: 375px; /* Ajusta la distancia desde el borde inferior de la imagen */
    left: 18px; /* Ajusta la distancia desde el borde izquierdo de la imagen */
    color: rgb(56, 231, 85); /* Color del texto */
    background-color: rgba(252, 246, 246, 0.986); /* Color de fondo con transparencia */
    padding: -2px -2px; /* Ajusta el espaciado dentro del título */
  }

  .image-title1 {
    position: absolute;
    bottom: 190px; /* Ajusta la distancia desde el borde inferior de la imagen */
    left: 18px; /* Ajusta la distancia desde el borde izquierdo de la imagen */
    color: rgb(56, 231, 85); /* Color del texto */
    background-color: rgba(252, 246, 246, 0.986); /* Color de fondo con transparencia */
    padding: -2px -2px; /* Ajusta el espaciado dentro del título */
  }

  .image-title2 {
    position: absolute;
    bottom: 100px; /* Ajusta la distancia desde el borde inferior de la imagen */
    left: 18px; /* Ajusta la distancia desde el borde izquierdo de la imagen */
    color: rgb(56, 231, 85); /* Color del texto */
    background-color: rgba(252, 246, 246, 0.986); /* Color de fondo con transparencia */
    padding: -2px -2px; /* Ajusta el espaciado dentro del título */
  }

  .image-title3 {
    position: absolute;
    bottom: 278px; /* Ajusta la distancia desde el borde inferior de la imagen */
    left: 18px; /* Ajusta la distancia desde el borde izquierdo de la imagen */
    color: rgb(56, 231, 85); /* Color del texto */
    background-color: rgba(252, 246, 246, 0.986); /* Color de fondo con transparencia */
    padding: -2px -2px; /* Ajusta el espaciado dentro del título */
  }