
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="with-device-width, inicial-scale=1.0">
<link rel="stylesheet" href="menu.component.scss">

</head>
<body>

    <div class="conteiner">


        <li><a routerLink="/persona">        
            <img class="imagen"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRaGGc-C_9qJaNPkzaRVhAJAWZGNjf9_wcVw&usqp=CAU"  alt=""/>
        </a> </li>

 
    <li><a routerLink="/vehiculo">
        <img class="imagen" src="https://cdn-icons-png.flaticon.com/512/359/359858.png"  alt=""/>
    </a></li>
   
        <img class="imagen" src="https://png.pngtree.com/png-vector/20191011/ourlarge/pngtree-invoice-icon-png-image_1817550.jpg"  alt=""/>
        <img class="imagen" src="https://png.pngtree.com/png-vector/20191001/ourmid/pngtree-check-list-icon-isolated-on-abstract-background-png-image_1776830.jpg"  alt=""/>

    </div>

</body>


</html>















    

