


<div class="sidebar">
    <h3>Formulario de contacto</h3>
    <form>
      <label for="cedula">Cedula:</label>
      <input type="textcedula" id="name" [(ngModel)]="persona.cedulaPer" name="cedula" required>
      <label for="nombre">Nombre:</label>
      <input type="textnombre" id="email" [(ngModel)]="persona.nombrePer" name="nombre" required>
      <label for="direccion">Direccion:</label>
      <input type="textdireccion" id="direccion" [(ngModel)]="persona.direccionPer" name="direccion" required>
      
      <label for="correo">Correo:</label>
      <input type="textcorreo" id="correo" [(ngModel)]="persona.correoPer" name="correo" required>
      <label for="telefono">Telefono:</label>
      <input type="texttelefono" id="telefono" [(ngModel)]="persona.telefonoPer" name="telefono" required>

      <br>
      <button (click)="actualizar()" type="button">Actualizar</button>
    </form>
</div>





