


<div class="sidebar">
    <h3>Formulario de Vehiculo</h3>
    <form>
      <label for="placa">Placa:</label>
      <input type="textplaca" id="placa" [(ngModel)]="vehiculo.placaVeh" name="placa" required>
      <label for="marca">Marca:</label>
      <input type="textmarca" id="marca" [(ngModel)]="vehiculo.marcaVeh" name="marca" required>
      <label for="color">Color:</label>
      <input type="textcolor" id="color" [(ngModel)]="vehiculo.colorVeh" name="color" required>
      
      

      <br>
      <button (click)="actualizar()" type="button">Actualizar</button>
    </form>
</div>











