

<div class="sidebar">
    <h3>Formulario de Ticket</h3>
    <form>
      <label for="codigoTic">Codigo:</label>
      <input type="textcodigoTic" id="name" [(ngModel)]="ticket.codigoTic" name="codigoTic" required>
      <label for="fecha">Fecha:</label>
      <input type="textFecha" id="fecha" [(ngModel)]="ticket.fecha" name="fecha" required>
      <label for="">Mensaje</label>
      <input type="textplaca" id="placa" [(ngModel)]="ticket.vehiculo.placaVeh" name="placa" required>
      
      <br>
      <button (click)="actualizar()" type="button">Guardar</button>
    </form>
</div>