.contenido{
    margin-top: 100px; 
    margin-bottom: 80px; 
    margin-left: 600x; 
    margin-right: 400px; 
    z-index: 1;


    

    border: 1px solid rgb(89, 238, 121);
    width: 80%;
    min-height: 10px;
    background-color: #40df82;
  
    }

    #content {

        

    margin-top: 10px; 
    margin-bottom: 50px; 
    margin-left: 200px; 
    margin-right: 50px; 
    z-index: 1;
    
        


    }

